.container {

    display: flex;
    height: 80vh;

    .contatos {

        padding: 50px;
        width: 50%;

        p {

            font-size: 20px;
            font-weight: bold;
            margin: 30px 0 30px 0;
        }

        .github,
        .linkedin {

            margin: 10px 10px 0 0;
            width: 3vw;
        }
    }
}

div .contatos {

    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}

.contatos h3 {

    color: yellowgreen;
    font-size: 25px;
}

.contatos span {

    color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
}

.contatos .email {

    font-size: 20px;
    font-weight: bold;
    margin: 7px 0;
    text-decoration: none;
}
