.container {

    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: space-evenly;

    .sobre {

        display: flex;
        font-size: 18px;
        font-weight: bold;
        flex-direction: column;
        height: 40vh;
        justify-content: center;
        width: 60vw;

        p {
            
            font-size: 28px;
            margin: 30px 0 30px 0;
        }
    }
}

.sobre h1,
h2,
strong {

    color: yellowgreen;
    font-weight: bold;
}

div .link {

    background-color: yellowgreen;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
}

div .imagem {

    border-radius: 50%;
    width: 25vw;
}
