.rodape {
    
    align-items: center;
    background-color: yellowgreen;
    display: flex;
    height: 10vh;
    justify-content: center;

    p {
        
        color: #FFFFFF;
        font-size: 20px;
        font-weight: bold;
    }
}
