.container {

    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    
    .imagem {

        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 30vw;

        &:hover {

            border-radius: 5px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
        }
    }
}
